# Compiled files except the base one
compiled/*
!compiled/heart.rs

# IDE folders
.idea
.vscode

# Python specifics
venv
__pycache__

# Wannabe language concepts; not intented to be shown
exampleCode.🌲
